Projeto_Final_Codigo/**/*.csspjt
Projeto_Final_Codigo/**/*.cof
Projeto_Final_Codigo/**/*.err
Projeto_Final_Codigo/**/*.esym
Projeto_Final_Codigo/**/*.hex
Projeto_Final_Codigo/**/*.lst
Projeto_Final_Codigo/**/*.sym

Projeto_Final_Codigo/PF.ccspjt
Projeto_Final_Codigo/PF.cof
Projeto_Final_Codigo/PF.err
Projeto_Final_Codigo/PF.esym
Projeto_Final_Codigo/PF.hex
Projeto_Final_Codigo/PF.lst
